@using YK.FrameworkTools.PluginService;
<div id="divPaymentTaskDetailIndexViewController" ng-controller="PaymentTaskDetailIndexController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>交款明细管理</h4>
    </div>
    <div class="modal-body">
        <div class="rows box box-primary form-group" id="divTaskHeader">
            <div id="SearchDetailContainer" class="col-md-10">
                <div class="box-body" ng-show="IsShowSearch">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row" style="padding-top:5px; padding-bottom:5px;">
                                <div class="col-md-12">
                                    <label class="col-sm-5">上次交款截止日期 </label>
                                    <label class="col-sm-7">
                                        {{LastPaymenTaskDate}}
                                    </label>
                                </div>
                            </div>
                            <div class="row"  style="padding-top:5px; padding-bottom:5px;">
                                <div class="col-md-12">
                                    <label class="col-sm-5">本次交款截止日期</label>
                                    <div class="col-sm-7">
                                        <div class="input-append date dateBeginMonth input-group">
                                            <input type="text" id="PaymentDateMax" name="PaymentDateMax" class="form-control">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"  style="padding-top:5px; padding-bottom:5px;">
                            <label>备注</label>
                            <textarea rows="2" name="Remark" class="form-control"></textarea>
                            <input type="text" name="PaymentTaskId" id="PaymentTaskId" class="form-control">
                        </div>

                        <!--<div class="col-md-6" style="">
                            <label>交款截止日期</label>
                <div class="input-append date input-group">
                    <input type="text" id="PaymentDateMax" name="PaymentDateMax" class="form-control">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                        </div>-->

                    </div>
                </div>
               
            </div>
            <div class="col-md-4" ng-show="IsShowCheck">
                <label>审核备注</label>
                <textarea rows="2" name="CheckRemark" class="form-control" ng-model="CheckRemark"></textarea>
            </div>
            <div id="divPaymentTaskDetailIndexView" class="col-md-2" style="margin-top:35px;margin-bottom:5px;white-space:nowrap">





                <a class="btn btn-primary" onclick="SaveContributions()" ng-show="IsContributions">
                    确认交款
                </a>
                <a class="btn btn-primary" ng-click="AbandonRviewed()" ng-if="CheckPermission('AbandonRviewed')" ng-show="IsAbandonRviewed">
                    弃审
                </a>
                <a class="btn btn-primary" ng-click="PaymentTasksRevokeRviewed()" ng-if="CheckPermission('PaymentTasksRevokeRviewed')" ng-show="IsRevokeRviewed">
                    撤销审核
                </a>
                <a class="btn btn-primary" ng-click="PaymentTasksRviewed()" ng-if="CheckPermission('PaymentTasksRviewed')" ng-show="IsRviewed">
                    审核
                </a>
                <a class="btn btn-primary" ng-click="PaymentDelete()" ng-if="CheckPermission('PaymentDelete')" ng-show="IsRevokePayment">
                    撤销交款
                </a>
            </div>

        </div>
        <div class="box-footer">
            <input type="button" id="btnOrgListSearchView" class="btn btn-primary" value="查询">


        </div>
        <div>
            <span style="height:10px"></span>
        </div>
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist" id="moduleTab">

                <li class="active">
                    <a href="#tabPaymentTaskByPayMthod" role="tab" data-toggle="tab" onclick="PaymentTaskByPayMthodClick()" class="ng-binding">支付方式汇总</a>
                </li>
                <li>
                    <a href="#tabPaymentTasksDetailBySubject" role="tab" data-toggle="tab" onclick="PaymentTasksDetailBySubjectClick()" class="ng-binding">收费项目汇总</a>
                </li>
                <li><a href="#tabPaymentTasksDetail" role="tab" data-toggle="tab" onclick="PaymentTasksDetailClick()" class="ng-binding">收款明细</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabPaymentTaskByPayMthod">
                    <div id="divPaymentTaskByPayMthodContainer"></div>
                </div>

                <div class="tab-pane" id="tabPaymentTasksDetailBySubject">
                    <div id="divPaymentTasksDetailBySubjectContainer"></div>
                </div>
                <div class="tab-pane" id="tabPaymentTasksDetail">
                    <div id="divPaymentTasksDetailContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    Date.prototype.Format = function(fmt)
{ //author: meizz
  var o = {
    "M+" : this.getMonth()+1,                 //月份
    "d+" : this.getDate(),                    //日
    "h+" : this.getHours(),                   //小时
    "m+" : this.getMinutes(),                 //分
    "s+" : this.getSeconds(),                 //秒
    "q+" : Math.floor((this.getMonth()+3)/3), //季度
    "S"  : this.getMilliseconds()             //毫秒
  };
  if(/(y+)/.test(fmt))
    fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
  for(var k in o)
    if(new RegExp("("+ k +")").test(fmt))
  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
  return fmt;
}



    var ckFramework = ckFramework || {};

    ckFramework.PaymentTaskDetailData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    ckFramework.PaymentTasksSave = '@Url.PluginAction("PropertyMgr", "PaymentTasks", "PaymentTasksContributionsAdd")';
    if(ckFramework.PaymentTaskDetailData.PaymentTaskId>0)
    {
        $('#PaymentTaskId').val(ckFramework.PaymentTaskDetailData.PaymentTaskId);
    }



    $(document).ready(function () {
        var myDate = new Date().Format("yyyy-MM-dd hh:mm");
        $('#PaymentDateMax').val(myDate);


        $('.date').datetimepicker({
            format:  'yyyy-mm-dd hh:ii',
            minView:0

        }).on('changeDate', function(ev){
            $('#btnOrgListSearchView').click();
        });
        $('#PaymentTaskId').hide();
        $('#btnOrgListSearchView').hide();
        PaymentTaskByPayMthodClick();

        //$('#divPaymentTasksModal').css({"height":"auto","top": function() {
        //    var top=($(window).height()-$(this).height())/2;
        //    return top;
        //}
        //});
        $('#btnOrgListSearchView').click(function () {
            $("#testCustomer").dataTable().fnDraw();

        });



    });

    function SaveContributions()
    {

        ckFramework.ModalHelper.Confirm( "请确认是否交款？", function () {

            var  remark=$("#SearchDetailContainer textarea[name='Remark']").val();



            var data = {'PaymentDateMax':$('#PaymentDateMax').val(),'ComDeptId': $('#SelectDeptId').val(),'Remark':remark};
            $.post( ckFramework.PaymentTasksSave, data).success(function(result) {
                ckFramework.ModalHelper.CloseOpenModal1();
                ckFramework.ModalHelper.Alert(result.Msg);
                $('#btnOrgListSearch').click();
            });
        });
    }

    ckFramework.ResetWindowLayout = function () {

        $('#divPaymentTasksModal').css({"height":"auto","top": function() {
            var top = ($(window).height() - $(this).height()) / 2 + 80;
            //var top = $(this).css('top') + ($(window).height()/2);
            //alert(top)
            return top;
        }
        });
    }

    ckFramework.ResetWindowLayout();

    //支付方式汇总
    function PaymentTaskByPayMthodClick() {
        deptContainerService.ShowContainerContent('divPaymentTaskByPayMthodContainer', 'PropertyMgr/PaymentTasks/PaymentTaskByPayMthodViewList', ['apps/HomeApp', '/Plugins/PropertyMgr/Scripts/controllers/PaymentTasks/PaymentTaskByPayMthodViewListController.js'], 'divPaymentTaskByPayMthodViewListController');
    }
    //收费项目汇总
    function PaymentTasksDetailBySubjectClick() {
        deptContainerService.ShowContainerContent('divPaymentTasksDetailBySubjectContainer', 'PropertyMgr/PaymentTasks/PaymentTaskDetailBySubjectNewViewList', ['apps/HomeApp', '/Plugins/PropertyMgr/Scripts/controllers/PaymentTasks/PaymentTaskDetailBySubjectListController.js'], 'divPaymentTaskDetailBySubjectListController');
    }
    //收费项目明细
    function PaymentTasksDetailClick() {
        deptContainerService.ShowContainerContent('divPaymentTasksDetailContainer', 'PropertyMgr/PaymentTasks/PaymentTaskDetailViewList', ['apps/HomeApp', '/Plugins/PropertyMgr/Scripts/controllers/PaymentTasks/PaymentTaskDetailListController.js'], 'divPaymentTaskDetailListViewController');
    }

</script>
