@using YK.FrameworkTools.PluginService;
<div id="divTempChargeViewController" ng-controller="TempChargeViewController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="ng-binding">临时账单</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group ModalFormMagin col-md-12 has-feedback">
                <label class="control-label ckFormControlLable">
                    <span>收费项目<span style="color:red">*</span></span>
                </label>
                <select class="form-control ckFormControl" ng-change="LoadPric()" ng-model="PageViewModel.SubjectId" id="drpSubject" ng-options="m.Id as m.Name for m in SubjectList">
                    <option value="">-- 请选择 --</option>
                </select>
                <label class="control-label ckFormControlLable">开始日期</label>
                <div class="input-append date input-group ckFormControl">
                    <input type="text" id="txtBeginDate" name="BeginDate" ng-model="PageViewModel.BeginDate" class="form-control">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <label class="control-label ckFormControlLable">结束日期</label>
                <div class="input-append date input-group ckFormControl">
                    <input type="text" id="txtEndDate" name="EndDate" ng-model="PageViewModel.EndDate" class="form-control ng-pristine ng-valid ng-isolate-scope ng-touched">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <label class="control-label ckFormControlLable">
                    <span>金额<span style="color:red">*</span></span>
                </label>
                <input type="text" id="txtMoney" name="Money" class="form-control ckFormControl" ng-model="PageViewModel.Money" ng-keyup="toDecimal($event)" ng-blur="isNumber($event)">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">取消</button>
        <button type="button" class="btn btn-primary" ng-click="Save()">保存</button>
        <input type="text" readonly="readonly" ng-show="false" ng-model="PageViewModel.HouseDeptId" id="hidHouseDeptId" />
        <input type="text" readonly="readonly" ng-show="false" ng-model="PageViewModel.ComVillageDeptId" id="hidComVillageDeptId" />

    </div>
</div>
<script type="text/javascript">
    var ckFramework = ckFramework || {};
    ckFramework.TempChargeViewData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(function(){
        $('.date').datetimepicker({
            format:  'yyyy-mm-dd'
        });
    });
</script>