<div id="divExternalchargeIndexController" ng-controller="ExternalchargeIndexController">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="moduleTab">
            <li class="active">
                <a href="#tabExternalchargeSummaryReport" role="tab" data-toggle="tab" onclick="ExternalchargeSummaryReport()" class="ng-binding">汇总表</a>
            </li>
            <li>  <a href="#tabExternalchargeDetailReport" role="tab" data-toggle="tab" onclick="ExternalchargeDetailReport()" class="ng-binding">明细表</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabExternalchargeSummaryReport">
                <div id="divExternalchargeContainer"></div>
            </div>

            <div class="tab-pane active" id="tabExternalchargeDetailReport">
                <div id="divExternalchargeDetailContainer"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            ExternalchargeSummaryReport();
        });

       // var deptContainerService = ckFramework.GetAngularService('ArrearsReportIndexService');
        
        //汇总表
        function ExternalchargeSummaryReport() {

            var deptContainerService = ckFramework.GetAngularService('ReportService');
            deptContainerService.ShowContainerContent('divExternalchargeContainer', 'PropertyMgr/Report/ExternalchargeContainerIndex', ['apps/HomeApp', '/Plugins/PropertyMgr/Scripts/controllers/Report/ExternalchargeContainerController.js'], 'divExternalchargeContainerController');
        }
        //明细表
        function ExternalchargeDetailReport()
        {

            var deptContainerService = ckFramework.GetAngularService('ReportService');
            deptContainerService.ShowContainerContent('divExternalchargeDetailContainer', 'PropertyMgr/Report/ExternalchargeDetailContainerIndex', ['apps/HomeApp', '/Plugins/PropertyMgr/Scripts/controllers/Report/ExternalchargeDetailContainerController.js'], 'divExternalchargeDetailContainerController');
        }


    </script>
</div>
