@using YK.FrameworkTools.PluginService;
<div id="divIntegratedReportByChargeSubjectController" ng-controller="IntegratedReportByChargeSubjectController">

    <div id="SearchContainerIntegratedReportByChargeSubject" class="box box-primary form-group">
        <div class="box-body" ng-show="IsShowSearch">
            <div class="row">

                <div class="col-md-3">
                    <label>小区</label>
                    <select class="form-control" name="ComDeptIdStr" ng-model="ComDeptId" ng-options="m.Id as m.Name for m in ComDeptList" ng-selected="m.Id==ComDeptId">
                       
                    </select>
                    <input type="hidden" id="DefaultComDeptId" name="DefaultComDeptId" />
                </div>

                <div class="col-md-3">
                    <label>账单开始日期</label>
                    <div class="input-append date dateBeginMonth input-group">
                        <input type="text" id="BeginDate" name="BeginDate" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>账单截止日期</label>
                    <div class="input-append date dateEndMonth input-group">
                        <input type="text" id="EndDate" name="EndDate" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <label>缴费截止日期</label>
                    <div class="input-append  date datePaydate input-group">
                        <input type="text" id="Paydate" name="Paydate" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <label >楼栋资源</label>
                    <div>
                        <input id="LouyuName" type="text" readonly value="" class="form-control" style="background-color: #FFF" onclick="showMenu();" />
                        <input type="hidden" id="LouyuIdStr" name="LouyuIdStr" />
                        <!--下拉列表-->
                        <div id="menuContent" class="col-sm-8" style="display:none; position: absolute;top:59px;background:#FFF;z-index:1000">
                            <ul id="treeDemo" class="ztree form-control" style="margin-top:0; height: 300px;overflow:auto;"></ul>
                            <div style="text-align:center; padding-bottom:5px; padding-top:5px;">
                                <input type="button" id="btnAllLouyuSelect" class="btn-xs btn-primary" onclick="GetbtnAllLouyuSelect()" value="全选">
                                <input type="button" id="btnAllLouyuReset" class="btn-xs btn-primary" onclick="GetbtnAllLouyuReset()" value="清除">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="button" id="btnSearchContainerIntegratedReportByChargeSubject" ng-click="GetIntegratedReportByChargeSubjectDataList()" class="btn btn-primary" value="查询">
            <input type="button" id="ImprotIntegratedReportByChargeSubject" ng-click="IntegratedReportByChargeSubjectExportData()" class="btn btn-primary" value="导出">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>收费项目</th>
                        <th>应收金额</th>
                        <th>实收金额</th>
                        <th>欠收金额</th>
                        <th>收费率</th>
                        
                    </tr>
                    <tr ng-repeat="item in IntegratedReportByChargeSubjectList" ng-style="item.GroupId == 3? TotalStyle : ''">
                        <td>{{item.ChargeSubjectName }}</td>
                        <td>{{item.TotalRecAmount  | number:2}}</td>
                        <td>{{item.RececiveTotal  | number:2}}</td>
                        <td>{{item.UnPaidAmountTotal  | number:2}}</td>
                        <td>{{item.PayRate}}</td>
                       
                    </tr>
                    <tr ng-show="IntegratedReportByChargeSubjectList.length == 0">
                        <td colspan="11" style="text-align:center;">没有数据</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @*设置MVC的一些页面变量事件绑定*@
    <script type="text/javascript">
        var ckFramework = ckFramework || {};
        ckFramework.IntegratedReportByChargeSubjectData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        $("#DefaultComDeptId").val(ckFramework.IntegratedReportByChargeSubjectData.DefaultDeptId);
        ckFramework.IntegratedReportByChargeSubjectTable = null;
      
    </script>
    <script type="text/javascript">
        var setting = {
            async: { //异步加载
                type: "get",
                enable: true,
                url: getUrl
            },
            check: {
                enable: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeClick: beforeClick,
                onCheck: onCheck
            },
            view: {
                showIcon: false
            }
        };

        function getUrl() {



            var ComDeptId = $("#SearchContainerIntegratedReportByChargeSubject select[name='ComDeptIdStr']").val();
            if (ComDeptId == null) {
                ComDeptId = $("#SearchContainerIntegratedReportByChargeSubject input:hidden[name='DefaultComDeptId']").val();
            }
            else {
                ComDeptId = ComDeptId.replace("number:", "");
            }

            return "PropertyMgr/Report/GetCommunityLouyuDeptList?ComDeptId=" + ComDeptId;
        }

        function beforeClick(treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.checkNode(treeNode, !treeNode.checked, null, true);
            return false;
        }

        function GetbtnAllLouyuSelect() {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.checkAllNodes(true);
            var nodes = zTree.getCheckedNodes(true),
                v = "";
            var idstr = "";
            for (var i = 0, l = nodes.length; i < l; i++) {
                v += nodes[i].name + ",";
                idstr += nodes[i].id + ","
            }
            if (v.length > 0) v = v.substring(0, v.length - 1);

            if (idstr.length > 0) idstr = idstr.substring(0, idstr.length - 1);
            var cityObj = $("#LouyuName");
            var LouyuIdstr = $("#SearchContainerIntegratedReportByChargeSubject input:hidden[name='LouyuIdStr']")
            LouyuIdstr.prop("value", idstr);
            cityObj.prop("value", v);
        }

        function GetbtnAllLouyuReset() {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            treeObj.checkAllNodes(false);
            var cityObj = $("#LouyuName");
            var LouyuIdstr = $("#SearchContainerIntegratedReportByChargeSubject input:hidden[name='LouyuIdStr']")
            LouyuIdstr.prop("value", "");
            cityObj.prop("value", "");
        }

        function onCheck(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                nodes = zTree.getCheckedNodes(true),
                v = "";
            var idstr = "";
            for (var i = 0, l = nodes.length; i < l; i++) {
                v += nodes[i].name + ",";
                idstr += nodes[i].id + ","
            }
            if (v.length > 0) v = v.substring(0, v.length - 1);

            if (idstr.length > 0) idstr = idstr.substring(0, idstr.length - 1);
            var cityObj = $("#LouyuName");
            var LouyuIdstr = $("#SearchContainerIntegratedReportByChargeSubject input:hidden[name='LouyuIdStr']")
            LouyuIdstr.prop("value", idstr);
            cityObj.prop("value", v);
        }

        function showMenu() {
            var cityObj = $("#LouyuName");
            var cityOffset = $("#LouyuName").offset();
            //$("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");
            $("#menuContent").slideDown("fast");

            $("body").bind("mousedown", onBodyDown);
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "LouyuName" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
                hideMenu();
            }
        }
       

        function getLastDay(year,month){
            var new_year = year;    //取当前的年份
            var new_month = month++;//取下一个月的第一天，方便计算（最后一天不固定）
            if(month>12)            //如果当前大于12月，则年份转到下一年
            {
                new_month -=12;        //月份减
                new_year++;            //年份增
            }
            var new_date = new Date(new_year,new_month,1);              //取当年当月中的第一天
            //var date_count =   (new Date(new_date.getTime()-1000*60*60*24)).getDate();//获取当月的天数
            var last_date =   new Date(new_date.getTime()-1000*60*60*24).Format("yyyy-MM-dd");//获得当月最后一天的日期
            //return date_count;
            return last_date;
        }
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }



        $(document).ready(function () {


            //$('.dateBeginMonth').datetimepicker({
            //    format:  'yyyy-mm-dd',
            //    minView: 3,
            //    startView: 3,
            //}).on('changeDate', function(ev){
            //    //alert(88)
            //    //alert(ev.date.valueOf())
            //    if (ev.date.valueOf() != undefined || ev.date.valueOf() != "") {
            //        var sdate = ev.date;
            //        //alert(sdate);
            //        var newDate = getLastDay(sdate.getFullYear(),sdate.getMonth()+1);
            //        //alert(newDate);
            //        $('.dateEndMonth').datetimepicker('setDate', newDate);
            //        $('.datePaydate').datetimepicker('setDate', newDate);
            //    }
            //    //alert(99)
            //});
            //$('.dateEndMonth').datetimepicker({
            //    format:  'yyyy-mm-dd',
            //    minView: 3,
            //    startView: 3,
            //}).on('changeDate', function(ev){
            //    //alert(88)
            //    //alert(ev.date.valueOf())
            //    if (ev.date.valueOf() != undefined || ev.date.valueOf() != "") {
            //        var sdate = ev.date;
            //        //alert(sdate);
            //        var newDate = getLastDay(sdate.getFullYear(),sdate.getMonth()+1);
            //        //alert(newDate);
            //        $('.dateEndMonth').datetimepicker('setDate', newDate);
            //    }$('.datePaydate').datetimepicker('setDate', newDate);
            //    //alert(99)
            //});


            $('.date').datetimepicker({
                format:  'yyyy-mm-dd'
            });

            var currentdate = new Date();
            var y = currentdate.getFullYear();
            var m = currentdate.getMonth() + 1;
            var d = currentdate.getDate();
            var date = y + '-' + (m > 9 ? m : '0' + m) + '-' + (d > 9 ? d : '0' + d);
            var Begindate = y + '-' + (m > 9 ? m : '0' + m) + '-01' ;
            // $('#ChargeDate').val(date);


            $("#SearchContainerIntegratedReportByChargeSubject input[name='Paydate']").val(date);
            $("#SearchContainerIntegratedReportByChargeSubject input[name='BeginDate']").val(Begindate);
            $("#SearchContainerIntegratedReportByChargeSubject input[name='EndDate']").val(getLastDay(y,m));

            $("#ImprotIntegratedReportByChargeSubject").click(function(){
                var divIntegratedReportByChargeSubjectController = angular.element(document.getElementById('divIntegratedReportByChargeSubjectController')).scope();

                var  ComDeptId=divIntegratedReportByChargeSubjectController.ComDeptId;
                var BeginDate=$("#SearchContainerIntegratedReportByChargeSubject input[name='BeginDate']").val();
                var EndDate=$("#SearchContainerIntegratedReportByChargeSubject input[name='EndDate']").val();
                var Paydate=$("#SearchContainerIntegratedReportByChargeSubject input[name='Paydate']").val();


                if (typeof(ComDeptId) == "undefined") {
                    ckFramework.ModalHelper.Alert("请选择小区");
                    return;
                }

                var iframe = document.createElement("iframe");
                iframe.src = "PropertyMgr/Report/ExportntegratedReportByChargeSubject?ComDeptIdIds=" + ComDeptId + "&BeginDate=" + BeginDate + "&EndDate=" + EndDate + "&Paydate=" + Paydate;

                iframe.style.display = "none";
                parent.document.body.appendChild(iframe);
            });
            $.fn.zTree.init($("#treeDemo"), setting);

            $("#SearchContainerIntegratedReportByChargeSubject select[name='ComDeptIdStr']").change(function () {
                var cityObj = $("#LouyuName");
                var LouyuIdstr = $("#SearchContainerIntegratedReportByChargeSubject input:hidden[name='LouyuIdStr']")
                LouyuIdstr.prop("value", "");
                cityObj.prop("value", "");
                var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                treeObj.reAsyncChildNodes(null, "refresh");


            });

           
        });
    </script>
</div>