page-pay-all {
    // 加减按钮样式
    .pre_checkbox{
        float: left;
        min-width:21px;
        margin: 5px 16px 0 0;
    }

    .pre_checkbox_second{
        margin: 17px 16px 0 0 !important;
    }
    .pre_content_subitem{
        float: left;
        width: 94%;
    }
}
