<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="RedisConfig" type="YK.FrameworkTools.RedisCacheImp.RedisConfig,YK.FrameworkTools.RedisCacheImp" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<RedisConfig RedisType="Single" RedisPath="127.0.0.1:6379" /><autofac defaultAssembly="YK.FrameworkTools.RedisCacheImp">
    <components>
      <!--use ServiceStack conponent to read or write Redis-->
      <component type="YK.FrameworkTools.RedisCacheImp.RedisCache, YK.FrameworkTools.RedisCacheImp" service="YK.FrameworkTools.IRedisCache.ICache,YK.FrameworkTools.IRedisCache" />
      <!--use StackExchange.Redis conponent to read or write Redis-->
      <!--<component type="YK.FrameworkTools.RedisCacheImp.StackExchangeRedisCache, YK.FrameworkTools.RedisCacheImp" service="YK.FrameworkTools.IRedisCache.ICache" />-->
    </components>
  </autofac></configuration>