<div id="divChargeFormulaViewController" ng-controller="ChargeFormulaViewController" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>{{ClientMessage.ChargeSubjectModalHeader}}</h4>
    </div>
    <div class="modal-body">
        <div id="divContainer" />
    </div>
    <div class="modal-footer">
       
    </div>
</div>