@using YK.FrameworkTools.PluginService;
<div id="divAlipayRoomViewController" ng-controller="AlipayRoomViewController">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>批量新增房间</h4>
    </div>
    <div class="row">
        <div class="col-md-11" style="height:450px;overflow:auto">
            <div id="treeAlipayRoom">
                <i class='fa fa-hand-o-left'></i>请选择收费项目
            </div>
        </div>


    </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">取消</button>
            <button type="submit" id="btnAlipayRoomViewSave" class="btn btn-primary" ng-click="SaveData()">保存</button>
        </div>
    <script type="text/javascript">
        var ckFramework = ckFramework || {};
        ckFramework.AlipayRoomViewData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

    </script>
    <script type="text/javascript">
        $('#treeAlipayRoom').jstree({
            'core': {
                'data': {
                    'cache': false,
                    'url': 'PropertyMgr/AlipayProperty/GetAlipayHouseSelectTree?ComDeptId=' + ckFramework.AlipayRoomViewData.ComDeptId
                },
            },
            "checkbox": {
                "keep_selected_style": false,
                "visible": true
            },
            "plugins": ["checkbox"]
        });
      

    </script>


</div>



