<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZY_MsgLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ZY_SocketLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ZY_MsgLibrary.Properties.Settings>
            <setting name="ZY_SocketLibrary_WebReference_sms" serializeAs="String">
                <value>http://121.199.16.178/webservice/sms.php?smsService</value>
            </setting>
            <setting name="SocketLibrary_WebReference_sms" serializeAs="String">
                <value>http://121.199.16.178/webservice/sms.php?smsService</value>
            </setting>
        </ZY_MsgLibrary.Properties.Settings>
        <ZY_SocketLibrary.Properties.Settings>
            <setting name="ZY_SocketLibrary_WebReference_sms" serializeAs="String">
                <value>http://121.199.16.178/webservice/sms.php?smsService</value>
            </setting>
        </ZY_SocketLibrary.Properties.Settings>
    </applicationSettings>
</configuration>