<?xml version="1.0" encoding="utf-8"?>
<!-- 日志配置 开始 -->
<log4net>
  <root>
    <level value="ALL"/>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <appender-ref ref="HtmlAppender"/>
  </root>
  <!-- 信息日志类 -->
  <!--<logger name="Logger">
    <level value="ALL" />
    <appender-ref ref="HtmlAppender" />
  </logger>-->
  <!-- 定义输出到Html文件中附加介质-->
  <appender name="HtmlAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:/report_log/query/" />
    <!--App_Data/log/-->
    <!--c:/report_log/statistic/-->
    <!--c:/report_log/query/-->
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maxFileSize value="10240" />
    <staticLogFileName value="false" />
    <datePattern value="&quot;log_&quot;yyyyMMdd&quot;.html&quot;" />
    <rollingStyle value="Date" />
    <!--布局-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&lt;p&gt; 记录时间：%date&lt;br/&gt;线 程 ID：[%thread]&lt;br/&gt;日志级别：%-5level&lt;br/&gt;触发类名：%logger property:[%property{NDC}]&lt;br/&gt; 日志描述：%message &lt;/p&gt;&lt;hr color=&quot;#390&quot;/&gt;" />
      <header value="&lt;!doctype html&gt;&lt;html&gt;&lt;head&gt;&lt;title&gt;&lt;/title&gt;&lt;link rel=&quot;stylesheet&quot; href=&quot;&quot;&gt;&lt;/head&gt;&lt;body&gt;" />
      <footer value="&lt;/body&gt;&lt;/html&gt;" />
    </layout>
  </appender>
</log4net>
<!-- 日志配置 结束 -->